.button-buy {
    color: #ffffff;
    background-color: #000000;
    width: 486px;
    height: 97px;
    align-self: flex-end;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 28px;
  }